.rating {
    display: flex;
    gap: 0.6em;
  }
  .rating .rating-star {
    list-style-type: none;
    width: 23px;
    height: 26px;
    background-image: url(static/star-inactive.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .rating .rating-star.active {
    background-image: url(static/star-active.png);
  }