.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.filters-toggle {
    display: block;
}

.filter-menu{
    display: none;
}

.filter-menu.open {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 20%); 
        height: 300px;
        background-color: pink;
        width: 90%;
}
.filter-menu h3{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-size: 0.95em;
    font-weight: normal;
    position: relative;
    left: 1em;
}
.filter-menu .checkBoxSection {
    
    font-size: 0.75em;
    grid-row: 3 / span 1;
    grid-column: 1 /span 1;
}
.filter-menu .labelSection {
 
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;

    input{
        border: 1.5em;
        background-color: white;
        border-radius: 1em;
    
        &.label-clicked{
            background-color: darkgray;
        }
    }
    input:hover{
        background-color: darkgray;
        transition: 0.2ms;
    }
    &.label-clicked{
        background-color: darkgray;
    }
}
.stringInput{
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
}
.filter-menu .ratingBox{
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}
