.filters {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.filters-toggle {
    display: block;
}

.filter-menu {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 20%); 
    min-height: 300px;
    background-color: #FFFFFF;
    border: 2px solid lightgray;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    width: 90%;
    
    h4{
        font-size: 0.65em;
        margin-bottom: 10px;
    }
}

.filter-menu.open {
    display: grid;
}
@media (max-width: $bp-medium) {
    .filter-menu.open {
        display: flex;
        flex-direction: column;
    }
}

.filter-menu h3{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-size: 0.95em;
    font-weight: normal;
    position: relative;
}
.filter-menu .checkBoxSection {
    
    grid-row: 2 / span 1;
    grid-column: 1 /span 1;
        input[type=checkbox]{
            transform: translateY(2.5px);
            accent-color: #8ACFE5;
        }
        label{
            font-size: 0.65em;
        }
}
.filter-menu .labelSection {
 
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;

    input{
        border: 1.5em;
        background-color: white;
        border-radius: 1em;
        border: 2px solid lightgray;
        margin: 2px;
    
        &.label-clicked{
            background-color: #8ACFE5;
            border-color: #8ACFE5;
        }
    }
    input:hover{
        background-color: #8ACFE5;
        transition: 0.2ms;
    }
    &.label-clicked{
        background-color: darkgray;
    }
}
.stringInput{
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    transform: translateY(-30%);
    input{
        box-sizing: border-box;
        width: 100%;
        height: 2.5em;
        margin: 0px !important;
        border: 2px solid lightgray;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        margin: 15px 0px 15px 0px;
        outline: none;
    }
}
.ratingSection{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: minmax(0, 3fr) auto minmax(0, 3fr);
    grid-template-rows: 2;
 
    h4{
        display: block; 
        grid-row: 1;
        width: 100%;
    }
    span{
        margin:0 1.5em 0 1em;
        display: flex;
        align-self: center; 
        font-size: 13px;
        grid-row: 2;
        grid-column: 2;        
    }
    .starBar{
        grid-row: 2;
        &.min{
            justify-self: flex-end;
        }
        &.max{
            justify-self: flex-start;
            grid-column: 3;
        }
    }
}


.filter-menu .cross{
    height: 5px;
    width: 30px;
    background-color: lightgray;
    position: relative;
    top: 10px;
    border-radius: 2px;
}
.crossY{
    transform: translateY(5px) rotate(-45deg);
}
.crossX{
    transform: rotate(45deg);
}
.crossBox{
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    height: 30px;
    width: 30px;
    z-index: 1;
}
.no-match{
    list-style: none;
    margin-top: 2em;
}