.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.filters-toggle {
    display: block;
}

.filter-menu{
    display: none;
}

.filter-menu.open {
        display: flex;
        align-content: space-between;
        background-color: pink;
        width: 80%;
}
.filter-menu .checkBoxSection {
    
    height: 200px;
    font-size: 0.75em;
    width: 25%;

}
.filter-menu .labelSection {
 
    align-self: center;   
    input{
        border: 1.5em;
        background-color: white;
        border-radius: 1em;
    
        &.label-clicked{
            background-color: darkgray;
        }
    }
    input:hover{
        background-color: darkgray;
        transition: 0.2ms;
    }
    &.label-clicked{
        background-color: darkgray;
    }
}
    
