.starBar {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
}

.starBar input {
    display: none;
}

.starBar > label {
    width: 30px;
    height: 30px;
    font-family: Verdana;
    font-size: 30px;
    color: $c-brightred;
}

.starBar label::before {
    content: '\2606';
    // position: absolute;
    top: 0px;
    line-height: 26px;
}

.starBar input:checked ~ label:before {
    content:'\2605';
}
